.practiceform{
    width: 400px;
    background-color: whitesmoke;
    padding: 20px;
    display: flex;
    justify-content: center;
  }
  
  .practiceform label {
    display: block;
    font-size: larger;
    font-weight: 600;
    margin:6px 0px 6px 0px;
  }
  
  .practiceform input[type="text"],
  .practiceform input[type="number"]{
    border:none;
    padding: 15px;
    border:1px solid rgba(220, 147, 147, 0.801);
    border-radius:5px;
  }
  
  .practiceform input[type="submit"]{
    display: block;
    border-radius:3px;
    padding:6px;
    margin: 7px auto;
    font-size:larger;
    font-weight: bolder;
    background-color: rgb(237, 205, 205);
    border:1px solid rgba(220, 147, 147, 0.801);
  }
  